@model SessionModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IdScanMobileDemo</title>
</head>
<body>
    <div>
        This is where the camera goes.
    </div>
</body>
</html>
